body {
	background: url(../images/Sports.jpg);
	font-size: 18px;
	line-height: 34px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: red;
}
h1 {
	font-size: 40px;
	line-height: 50px;
	color: #dc143c;
	
}

h2 {
	font-size: 22px;
	color: blue;
	background-color: rgba(100, 200, 200, 0.6);
    text-align: center;
    width: 100%;
}
h4 {
	font-size: 30px;
	color: red;
	background-color:rgba(0, 0, 0, 0.71);
    text-align: center;
    width: 100%;
}
.answerchoice{
    font-size: 22px;
	color: red;
	background-color: rgba(0, 0, 0, 0.71);
    text-align: center;
    width: 100%;
}
#directions{
     width:100%;
}
#SS{
    color:red;
}
#welcome{
    text-align: center;
    background-color: rgba(56, 219, 255, 1);
}
#scoreboard{
    background-color: rgba(0, 0, 0, 0.71);
    padding-bottom: 250px;
    border-style: double;
    border-color: white;
    border-width: 10px;
}
#wrongScore{
    width:33%;
    float:left;
}

#WS{
    color: yellow;
    
    text-align: center;
    background-color: black;
    border-style: double;
    border-color: white;
    border-width: 10px;

}
#clock{
    width:34%;
    float:left;
}
#TL{
    color: White;
    text-align: center;
    padding-left: 5px;
    padding-right:5px;
    background-color: black;
    border-style: double;
    border-color: white;
    border-width: 10px;
}
#display{
    text-align: center;
    padding:73px;
    font-size: 500%;
    color: white;
    border-left-style: solid;
    border-right-style: solid;
    border-color: white;
    border-width: 5px;

}
#currentScore{
      width:33%;
      float:left;
}
#userscore{
     text-align: center;
    padding:73px;
    font-size: 500%;
    color: green;
}
#badScore{
     text-align: center;
    padding:73px;
    font-size: 500%;
    color: red;
}

#CS{
    color: yellow;
    text-align: center;
    background-color: black;
    border-style: double;
    border-color: white;
    border-width: 10px;

}
#questions{
    width:100%;
    background-color:rgba(54, 61, 52, 0.8);
    text-align: center;
}

#question1{
    width: 100%;
    text-align: center;
    font-size: 30px;
    color:red;
    background-color: rgba(0, 0, 0, 0.71);
    text-align: center;
}
#answers{
    width: 100%;
    text-align: center;
    font-size: 30px;
    color:red;
    background-color:rgba(54, 61, 52, 0.8);
}

#gameStart{
    padding-left:30%;
}
#start{
    font-size: 50px;
    width: 60%;
    height: 100%;
    background-color: rgba(27, 148, 0, 1);
    color: white;
    padding: 20px;
    text-align: center;
    margin-top:100px;
}
